.bodyRow{
    background-image: radial-gradient(#D8D8D8 1px, transparent 0),
                      radial-gradient(#D8D8D8 1px, transparent 0);
    background-position: 0 0, 25px 25px;
    background-size: 50px 50px;
}