  .container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content-wrapper {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 35%;
  }
  .prompt-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 38px;
  }
  