
.mr-8 {
    margin-right: 8px;
}

.save, .explorer, .navBorder {
    border: 0.5px solid #2E2E2E;
}

.new {
    border: 0.5px solid #AD6CFF;
}

.btn {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    color: #D8D8D8;
}

.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: rgba(13, 110, 253, 0.25);
    border-color: #9846DD;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    color: #D8D8D8;
    background-color:#9846DD;
    border-color: #9846DD;
}
svg{
    margin: 4px 4px 5px 4px !important;
}
.fileName::placeholder{
    color: #D8D8D8;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
}
.fileName{
    width: 144px;
    height: 20px;
    top: 30px;
    position: fixed;
    color: #D8D8D8;
    font-size: 12px;
    font-family: 'Roboto Mono', monospace;
    background: #171717;
    border: 1px solid #171717;
}
.form-control:focus {
    color: #D8D8D8; 
    background-color: #171717; 
    border-color: none; 
    outline: 0; 
    box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);
}
