.react-flow{
  width: 100%;
  height: 100%;
  position: absolute !important;
  background-color: #1E1E1E;
  border: 1px solid #adb5bd45;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.react-flow__renderer {
  width: 95% !important;
}

.react-flow__node-default, .react-flow__node-input, .react-flow__node-output, .react-flow__node-group{
  background-color: lightgrey !important;
  width: 1512px !important;
  border-style: none !important;
  height: 819px;
}
.react-flow__panel{
  display: none !important;
}

/* scrollbar style */
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: gray; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: gray; 
}